body {
    /* padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
    .dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

.navbar {
    background-color: skyblue;
}

.blueback {
    background-color: powderblue;
}

.greybanner {
    background-color: lightgrey;
    padding: 10px;
    text-align: center;
}

.homebanner {
    width: 100%;
    height: 550px;
}

.nobottommar {
    margin-bottom: 0px;
    border: 0px;
}

.basicpadding {
    padding: 15px;
}

.black-text {
    height: 50px;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 20px;
    color: black;
}

.blue-text {
    height: 40px;
    margin: 15px;
    padding: 7px;
    font-size: 20px;
    line-height: 25px;
    color: black;
    background-color: skyblue;
    position:absolute;
    bottom: 0px;
    right: 27px;
}

.navtext {
    list-style-type: none;
    margin-bottom: 0px;
    float:right;
}

.navtext li {
    display:inline;
}

.navbar-padding {
    padding: 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navheader {
    font-size: 28px;
}

.floatright {
    float: right;
}

div.static {
    position: relative;
    width: 100%;
}

div.absolute {
    position: absolute;
    left: 50%;
    top: 80%;
    width: 100px;
    height: 50px;
    background-color:grey;
    color: white;
    text-align:center;
}

.maindiv {
    width: 50%;
    margin: auto;
}

.maindiv p {
    font-size: 18px;
}

absolute2 {
    position: absolute;
    top: 50%;
}

.imagecontainer {
    position: relative;
    text-align: center;
}

.text-top-center {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
}



.flex-container {
    display: flex;
    justify-content: center;
}


.banner {
    width: 100%;
    background-color: lightgrey;
}

.footercol {
    background-color: lightgrey;
    height: 100px;
    padding: 15px;
    text-align: center;
}

.linkbox {
    width: 200px;
    height: 400px;
    background-color: white;
    text-align:center;
    padding-bottom: 10px;
    position: relative;
}

.linkbox2 {
    font-size: 10px;
    text-orientation: mixed;
}

.linkbox3 {
    width: fit-content;
    height: 262px;
    background-color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.boxmargin {
    margin: 10px;
}

.introfont {
    font-size: 25px;
}

.header3text {
    font-size: 24px;
    color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.imageleft {
    float: left;
    display: flex;
    flex-direction: column;
}

.floatright {
    float: right;
}

.verticaltext {
    writing-mode: vertical-rl;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }


        .dropdown-content a:hover {
            background-color: #ddd;
        }


.show {
    display: block;
}