@{
    ViewBag.Title = "Antibiotics";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="maindiv">
            <br />
            <h2><b>Antibiotics</b></h2>
            <p>Antibiotics are antibacterial chemicals often used to treat bacterial infections. They are naturally produced by some bacteria and fungi to kill competing bacteria. Some plants also produce antimicrobial chemicals which prevent infection.</p>
            <p>While antibacterials have been observed as early as 1909 when a German physician, Paul Ehrlich, discovered arsphenamine, one of the first well-known antibiotics, penicillin, was accidentally discovered by Alexander Fleming in 1928. Originally produced by a mould growing on a lab culture plate, penicillin started to be mass-produced by pharmaceutical companies due to its ability to treat infections.</p>
            <p>Antibiotics have a wide range of effects on bacteria, some causing bacterial cell death while others prevent their growth and stop an infection spreading. This is due to the antibiotic molecules interacting with different parts of bacterial cells, such as damaging the outer cell wall or blocking inner parts of cells needed for bacteria to function. This also means some antibiotics can only target certain types of bacteria and are considered 'narrow spectrum' while others can target many types and are 'broad-spectrum'.</p>
            <p>Antibiotics do not work on viruses as these have a different structure to bacteria and may not be treatable or need different drugs such as antivirals to treat. As such, antibiotics are not useful for certain infections.</p>
            <p>An issue with antibiotics is antibiotic resistance, which is when bacteria have or evolve features that let them resist antibiotics, meaning an infection cannot be treated with antibiotics or previously could but not anymore. This can be due to natural bacterial evolution as bacteria have been exposed to natural antibiotics long before human use, or from modern selection pressures as bacteria can randomly evolve resistance traits, survive exposure to antibiotics and multiply. This means antibiotics should generally be used only when necessary, and the type of antibiotic used should match the infection to be effective.</p>
            <p>Another issue with antibiotics is that they can have side effects like allergy or toxicity if used in large quantities, which limits the effectiveness for some patients.</p>
        </div>
        <br />
        <div class="maindiv">
            <h3>Penicillins</h3>
            <p>The first antibiotic to be discovered and one of the most famous, penicillin was discovered by chance in 1928 when Dr Alexander Fleming returned from a holiday and found mould growing on a Petri dish of bacteria in the lab, killing bacteria around it with antibiotics. Although promising, the discovery was overlooked by other scientists due to the difficulty of production and would not be developed until 1937 by another team of scientists. Producing enough penicillin for even a single patient would remain an issue until 1941, when fermentation vats with corn byproducts and new mould strains were used to produce larger amounts of the antibiotic, saving the lives of many injured soldiers during WW2.</p>
            <p>Penicillin is a beta-lactam antibiotic, binding to bacterial cell walls to stop growth and repair, which results in cell walls becoming weaker over time and letting in water until the cells burst. While effective, some bacteria do not have a cell wall and are not affected by penicillin, while other bacteria might be resistant to penicillin due to adaptations like beta-lactamase enzymes which break down antibiotics.</p>
            <div class="greybanner flex-container">
                <div class="linkbox3">
                    <img src="~/Content/Images/Penicillium_rubens_(type_specimen).png" alt="Penicillium rubens" width="200" height="200" />
                    <p>Penicillium rubens, a penicillin mould.</p>
                </div>
                <div class="linkbox3">
                    <img src="~/Content/Images/PenicillinPSAedit.jpg" alt="Penicillin ad" width="246" height="200" />
                    <p>Penicillin could treat a wide range of diseases.</p>
                </div>
                <div class="linkbox3">
                    <img src="~/Content/Images/Penicillin_spheroplast_generation_horizontal.svg.png" alt="Penicillin MOA" width="350" height="200" />
                    <p>How penicillin causes bacterial cell death by breaking the cell wall.</p>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="maindiv">
            <h3>Tetracyclines</h3>
            <p>Tetracyclines are a class of antibiotic that has actually been used before the discovery of antibiotics, having occurred naturally in the diets of ancient Sudanese Nubian people in 350 CE, and potentially keeping their rate of disease infection low. A broad-spectrum antibiotic that works against many different types of bacteria, notably cholera, plague, malaria, syphilis and MRSA, tetracyclines are nevertheless also subject to antibiotic resistance and should be used carefully, even though they are commonly used.</p>
            <p>Tetracyclines are protein synthesis inhibitors, preventing bacterial cells from producing protein cell components by keeping ribosomes and tRNA base transporters apart.</p>
            <div class="greybanner flex-container">
                <div class="linkbox3">
                    <img src="~/Content/Images/Streptomyces_netropsis.jpg" alt="Streptomyces netropsis" width="300" height="200" />
                    <p>Streptomyces, the genus of bacteria that produces tetracyclines.</p>
                </div>
                <div class="linkbox3">
                    <img src="~/Content/Images/Protein_Synthesis_Elongation.png" alt="Protein synthesis" width="400" height="200" />
                    <p>Protein synthesis, the cell function that tetracyclines inhibit.</p>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="maindiv">
            <h3>Sulphonamides</h3>
            <p>A synthetic antimicrobial produced entirely by chemicals rather than a naturally-produced antibiotic, sulphonamides are a broad-spectrum class of treatments with variants that can also be effective against non-infectious diseases like diabetes. Folic acid synthesis inhibitors, they prevent bacteria from producing DNA, which disrupts cell growth and division, controlling infections. Sulphonamides can also be used against many fungal and parasitic infections, and some which also disrupt other non-folate cell functions like microtubule assembly can be potentially used against cancer as well.</p>
        </div>
        <br />

    </div>
</body>
</html>
