@{
    ViewBag.Title = "Antibiotics";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="imageleft">
            <img src="~/Content/Images/pill_vectorstock.png" alt="header image" width="200" height="200" />
            <a href="https://www.vectorstock.com/royalty-free-vector/realistic-pill-vector-1955971" class="linkbox2">Vector image by VectorStock / dunkan</a>
        </div>
        <div>
            <h3>Antibiotics</h3>
            <p>Antibiotics are antibacterial chemicals often used to treat bacterial infections. They are naturally produced by some bacteria and fungi to kill competing bacteria. Some plants also produce antimicrobial chemicals which prevent infection.</p>
            <p>While antibacterials have been observed as early as 1909 when a German physician, Paul Ehrlich, discovered arsphenamine, one of the first well-known antibiotics, penicillin, was accidentally discovered by Alexander Fleming in 1928. Originally produced by a mould growing on a lab culture plate, penicillin started to be mass-produced by pharmaceutical companies due to its ability to treat infections.</p>
            <p>Antibiotics have a wide range of effects on bacteria, some causing bacterial cell death while others prevent their growth and stop an infection spreading. This is due to the antibiotic molecules interacting with different parts of bacterial cells, such as damaging the outer cell wall or blocking inner parts of cells needed for bacteria to function. This also means some antibiotics can only target certain types of bacteria and are considered 'narrow spectrum' while others can target many types and are 'broad-spectrum'.</p>
            <p>Antibiotics do not work on viruses as these have a different structure to bacteria and may not be treatable or need different drugs such as antivirals to treat. As such, antibiotics are not useful for certain infections.</p>
            <p>An issue with antibiotics is antibiotic resistance, which is when bacteria have or evolve features that let them resist antibiotics, meaning an infection cannot be treated with antibiotics or previously could but not anymore. This can be due to natural bacterial evolution as bacteria have been exposed to natural antibiotics long before human use, or from modern selection pressures as bacteria can randomly evolve resistance traits, survive exposure to antibiotics and multiply. This means antibiotics should generally be used only when necessary, and the type of antibiotic used should match the infection to be effective.</p>
        </div>

    </div>
</body>
</html>
