@{
    ViewBag.Title = "Diseases";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="imageleft">
            <img src="" alt="header image" width="200" height="200" />
        </div>
        <div>
            <h3>Diseases</h3>
            <p>First recorded diseases. TB is the oldest contagious disease known to affect humans, with early TB progenitors being found in early human fossils as far back as 20,000-15,000 years ago. The Plague of Athens was the first recorded pandemic, which could have been typhus, smallpox or another disease which was unknown at the time.</p>
            <p>Significant epidemics including the Black Death, bubonic plague that significantly reduced the global population, Spanish Flu caused by the influenza virus during WW1 and of unknown origin despite the name, killing more individuals than the Black Death in a short time, Smallpox was a highly infectious disease that also led to Edward Jenner's development of the world's first vaccines, SARS was the world's first outbreak in the 21st century, Covid-19 the latest global pandemic on an unprecedented scale, also common diseases like TB</p>
            <p>Early misconceptions of disease causes from Ancient Greece and Europe, miasmas, superstition, humours, before germ theory</p>
            <p>Germ theory and Epidemiology</p>
            <p>Modern epidemics</p>
            <p>Covid</p>
            <p>Antibiotic Resistance</p>
            
        </div>
    </div>
</body>
</html>
