@{
    ViewBag.Title = "Diseases";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="imageleft">
            <img src="" alt="header image" width="0" height="0" />
        </div>
        <div>
            <div class="maindiv">
                <br />
                <h2><b>Diseases</b></h2>
            </div>
            <div class="maindiv">
                <h3>How Infections Work</h3>
                <p>Infectious agents have a wide range of methods used to get inside the human body and cause an infection, such as airborne movement through coughing and sneezing, infected body fluids, fecal contamination of food and water and injuries allowing germs past the skin. Once inside the body, germs multiply and colonise areas they are suited to, surviving using methods like producing toxins which damage and break down nearby host cells, producing bacterial biofilms that stop immune cells and drugs from reaching the colony, viruses and small bacteria hiding inside host cells, and worms burrowing through tissues and releasing anti-inflammatory chemicals to weaken the immune system. While some bacteria are capable of moving on their own and can spread easily through the body if not contained by the immune system, others are immobile and spread slowly through tissues until they reach the bloodstream and get carried around, causing sepsis.</p>
                <p>The immune system is responsible for preventing and fighting infections, resulting in mild to no symptoms of disease if successfully able to destroy or contain the germs, or more severe disease if the infection overwhelms the immune system, potentially requiring medical intervention with drugs to treat the infection. The immune system has two main parts, innate immunity and adaptive immunity. Innate immunity is the first line of defense against foreign pathogens and mainly involves phagocytic cells like macrophages and neutrophils, which engulf and dissolve pathogens, natural killer T cells which detect and destroy abnormal cells likely to be virus-infected or cancerous, and chemicals like complement proteins and defensins which bind to pathogens and destroy or mark them. Adaptive immunity follows the innate immune response and involves lymphocyte cells like B cells, which recognise specific pathogens and produce matching antibodies that bind to them, and T cells which kill pathogens marked by antibodies. This response is also directed towards all types of infections from foreign pathogens to virus-infected or cancerous cells. The adaptive immune system creates long-lived memory cells that remember pathogens from previous infections, producing an immune response more efficiently when the same infection happens again and clearing it faster.</p>
            </div>
            <br />
            <div class="maindiv">
                <h3>First Recorded Diseases</h3>
                <p>Throughout history, humanity has faced many different kinds of diseases, some more deadly than others. TB is the oldest contagious disease known to affect humans, with early TB progenitors being found in early human fossils as far back as 20,000-15,000 years ago, and TB deformities found in Egyptian mummies dating back to 2400 BC. TB was also documented in India, China, Ancient Greece and Rome, and was known as both scrofula and consumption in the Middle Ages depending on which of its various symptoms appeared, then the "white plague" in the 18th century due to its effect on patients' appearance. Later on, the Plague of Athens around 430 BC was the first recorded pandemic and occurred during the Peloponnesian War between Athens and Sparta, causing significant disruption in Athens which was already overloaded by siege and refugees at the time. While the symptoms including pustular rash, high fever and diarrhea were well-documented, the plague itself was not definitely identified and could have been typhus, smallpox or another unknown disease.</p><br />
            </div>
            <div class="greybanner flex-container">
                <div class="linkbox3">
                    <img src="~/Content/Images/Mycobacterium_tuberculosis.jpg" alt="TB Image" width="200" height="200" />
                    <p>Scanning Electron Micrograph of <br />Mycobacterium tuberculosis, the cause of TB.</p>
                </div>
                <div class="linkbox3">
                    <img src="~/Content/Images/TBScan.jpg" alt="TB Image" width="266" height="200" />
                    <p>SEM of tuberculosis bacteria and <br />PET/CT scan of infection in lungs.</p>
                </div>
                <div class="linkbox3">
                    <img src="~/Content/Images/Plague of Athens.jpg" alt="Plague of Athens" width="286" height="200" />
                    <p>Painting depicting the Plague of Athens.</p>
                </div>
            </div>
            <br /><br />
            <div class="maindiv">
                <h3>Significant Pandemics and Outbreaks</h3>
                <p>Epidemics and Pandemics are a phenomenon caused by the increasing density of human populations, shared use of resources and ability to travel freely allowing diseases to spread more easily. One of the first major pandemics to affect humanity on a large scale was the Black Death, caused by bubonic and later pneumonic plague that significantly reduced the global population. Another major and global pandemic was Spanish Flu, caused by the influenza virus during WW1 and of unknown origin despite the name, killing more individuals than the Black Death in a short time and unusually affecting young and healthy individuals worse. Smallpox was a deadly and highly infectious disease that also led to Edward Jenner's development of the world's first vaccines, and became the first and only disease to be eradicated. Mad Cow Disease was an unusual disease in the 90s' caused by infectious proteins (prions) transmitted by Bovine Spongiform Encephalopathy (BSE)-infected cattle being used in cattle feed and later beef supply. SARS emerged as the first severe outbreak of the 21st century, spreading easily through air travel and requiring vigilance from medical authorities to successfully control and prevent its spread. As of 2024, Covid-19 caused by the SARS_CoV-2 virus is the latest global pandemic on an unprecedented scale, requiring drastic action from governments and medical researchers, as well as rapid development of effective vaccines and treatments which are still ongoing.</p><br />
            </div>
            <div class="greybanner flex-container">
                <div class="linkbox3">
                    <img src="~/Content/Images/Black Death.jpg" alt="Black Death" width="332" height="200" />
                    <p>Miniature depicting the Black Death.</p>
                </div>
                <div class="linkbox3">
                    <img src="~/Content/Images/Spanish Flu Hospital.jpg" alt="Spanish Flu Hospital" width="266" height="200" />
                    <p>An emergency hospital treating <br />Spanish Flu victims.</p>
                </div>
                <div class="linkbox3">
                    <img src="~/Content/Images/Smallpox.jpg" alt="Smallpox" width="298" height="200" />
                    <p>A smallpox patient.</p>
                </div>
                <div class="linkbox3">
                    <img src="~/Content/Images/SARS-CoV-2.png" alt="SARS-CoV-2" width="210" height="200" />
                    <p>SARS-CoV-2, the virus that <br />causes Covid-19.</p>
                </div>
            </div>
            <br /><br />
            <div class="maindiv">
                <h3>Early Misconceptions of Disease Causes Before Germ Theory</h3>
                <p>Common beliefs in early human history were that disease was caused by supernatural events or divine punishment for crimes. Later on, observation-based theories such as those from Ancient Greece attempting to explain why disease occurred became more common, though still flawed. Humours theory incorrectly stated that four body fluids, blood, yellow bile, black bile and phlegm needed to be in balance and would cause disease when out of balance, leading to practices like bloodletting to restore 'balance'. Miasma theory originating in the Middle Ages and persisting into the 20th century held that decaying matter and other causes of bad smells produced miasma, bad air which would cause people to become sick by breathing it. This resulted in ineffective solutions like attempting to clean air instead of removing sewage and cholera-contaminated water that was causing disease. The plague doctor mask and gown used by doctors in the 17th century also attempted to prevent plague infection supposedly caused by miasma, without success. While miasma theory was incorrect, the association of sewage with disease was later linked to disease-causing microorganisms.</p><br />
            </div>
            <div class="greybanner flex-container">
                <div class="linkbox3">
                    <img src="~/Content/Images/Galen Pig Vivisection.jpg" alt="Galen Pig Vivisection" width="416" height="200" />
                    <p>An illustration of Galen, an Ancient Greek physician, <br />demonstrating anatomy with vivisection.</p>
                </div>
                <div class="linkbox3">
                    <img src="~/Content/Images/Plague Doctor.png" alt="Plague Doctor" width="142" height="200" />
                    <p>An illustration of the <br />plague doctor's equipment.</p>
                </div>
            </div>
            <br /><br />
            <div class="maindiv">
                <h3>Germ Theory and Epidemiology</h3>
                <p>The modern understanding of microorganisms as the causative agent of infectious disease, started with the invention of the microscope by a Dutch spectacle-making team in 1590, then Anton von Leeuwenhoek who observed bacteria in 1675, then Koch's Postulates in the 19th century were used to prove that certain microorganisms would cause disease when put in a living animal. Later on, John Snow and the Broad Street water pump's link to the cholera epidemic became one of the founding events of epidemiology, which would correlate contaminated material rather than miasma with disease, even if the theory was ignored at the time in favour of miasma. Another major finding was the discovery of viruses in the 1890s when microbiologists observed infectious particles in fluid that could pass through a bacterial filter. There are also a variety of other disease-causing agents like parasites and fungi.</p><br />
            </div>
            <div class="greybanner flex-container">
                <div class="linkbox3">
                    <img src="~/Content/Images/Microscope.jpg" alt="Microscope" width="150" height="200" />
                    <p>A microscope.</p>
                </div>
                <div class="linkbox3">
                    <img src="~/Content/Images/Ecoli Agar.jpg" alt="E.coli Agar" width="336" height="200" />
                    <p>Laboratory cell cultures of E.coli, <br />a common bacterium, on blood agar.</p>
                </div>
                <div class="linkbox3">
                    <img src="~/Content/Images/Type_of_viruses.jpg" alt="Type_of_viruses" width="200" height="200" />
                    <p>Viruses can have many different forms.</p>
                </div>
            </div>
            <br /><br />
            <div class="maindiv">
                <h3>Cancer</h3>
                <p>A disease caused by body cells growing out of control, cancer was observed as far back as Ancient Egypt and is still a major problem today, having a range of causes both genetic and environmental but generally the result of DNA mutation. Cancer starts off as normal body cells accumulating mutations to the point where they become abnormal, growing and multiplying out of control instead of following regular cell growth signals. While cells have a number of built-in systems to detect and stop the abnormal growth, and the immune system regularly destroys lots of abnormal cells, mutations in most to all these systems simultaneously can allow cancer cells to progress. One common check system includes a cell division maximum which causes abnormal cells to form a benign tumour, often seen as a lump in the body which stops growing after a while but may become big and press on nearby organs. Limited by lack of space, anti-growth signals, self-destruction signals, lack of new blood vessels to supply the tissue and immune cells detecting and destroying abnormal cells, these tumours often will not become cancerous. However, further mutations that allow these tumours to continue growing unchecked, produce new blood vessels and evade or disable immune cells, results in cancerous tumours that grow constantly. This becomes severe when the cells gain the ability to metastasise (Stage 4 cancer), invading nearby tissues and replacing functional organ cells with cancer cells. Metastatic cells can also break off from the main tumour, enter the bloodstream and travel around the body to form new tumours. While the immune system is good at recognising and destroying cancer cells which often display abnormal cell features, sometimes immune cells are unable to recognise the cancer cells which appear too similar to normal cells, or the cancer cells produce signal molecules that disable the immune cells. Cancer mutations and abnormal tumour features like the low-oxygen center of large tumours can also result in resistance to some cancer drugs. Although difficult to treat, current treatments like chemotherapy, radiotherapy and immunotherapies like monoclonal antibodies and CAR T-cell therapy can often destroy cancers, and modern cancer research has produced promising future treatments which can cure metastatic treatment-resistant Stage 4 cancer.</p><br />
            </div>
            <div class="greybanner flex-container">
                <div class="linkbox3">
                    <img src="~/Content/Images/Carcinoid_Tumor_of_Lung.jpg" alt="Carcinoid_Tumor_of_Lung" width="300" height="200" />
                    <p>A histology slide of a carcinoid tumour of the lung.</p>
                </div>
                <div class="linkbox3">
                    <img src="~/Content/Images/Chemotherapy_vials.jpg" alt="Chemotherapy_vials" width="276" height="200" />
                    <p>Assorted chemotherapy medications in vials.</p>
                </div>
                <div class="linkbox3">
                    <img src="~/Content/Images/External_beam_radiotherapy_NCI.jpg" alt="External_beam_radiotherapy_NCI" width="232" height="200" />
                    <p>An external beam radiotherapy <br />machine used for treating cancer.</p>
                </div>
                <div class="linkbox3">
                    <img src="~/Content/Images/CAR_T-Cell_Therapy.jpg" alt="CAR_T-Cell_Therapy" width="150" height="200" />
                    <p>A diagram indicating how <br />CAR T-Cell therapy works.</p>
                </div>
            </div>
            <br /><br />
            <div class="maindiv">
                <h3>Mutation</h3>
                <p>DNA is the genetic code that defines the features of cells and how they behave. However, there are a range of factors that can result in mutations changing ths code. DNA replication as part of normal cell division sometimes has errors that result in permanent changes. Damage to DNA by free radicals, radiation, mutagenic chemicals and UV results in DNA repair mechanisms that may not always correctly replace the damaged sections, resulting in mutations. DNA viruses that insert themselves into host DNA can also cause mutations. Many mutations have no effect if they occur in non-functional sections of DNA, such as disabled genes or guide sections which do not produce proteins. However, some mutations will introduce new features or activate genes that were previously disabled, potentially causing problems.</p>
            </div>
            <br />
            <div class="maindiv">
                <h3>Non-Infectious Diseases</h3>
                <p>Diseases like diabetes and autoimmune disorders can also occur, these occur due to body cell or organ malfunction rather than disease-causing agents and can have genetic or environmental causes. Diabetes is a condition where the body is unable to use sugar, resulting in sugar accumulating in the bloodstream, constant weakness and organ damage among other serious health effects. Autoimmune disorders occur when the body's own immune cells start to target normal body cells, causing organ damage. Hypertension is when blood pressure gets too high, damaging arteries that transport blood, making them less elastic and decreasing blood flow, resulting in heart attacks, strokes and other problems when blood vessels block or burst. The causes are many and can include age, genetics, obesity, lack of physical activity and a high-salt diet among other risk factors. Dementia is a general term for impaired ability to think and includes conditions like Alzheimer's and Parkinson's disease, which differ in symptoms and causes but all affect the brain.</p><br />
            </div>
            <div class="greybanner flex-container">
                <div class="linkbox3">
                    <img src="~/Content/Images/Rheumatoid_arthritis.jpg" alt="Rheumatoid_arthritis" width="334" height="200" />
                    <p>Rheumatoid arthritis, a disease caused by autoimmunity.</p>
                </div>
                <div class="linkbox3">
                    <img src="~/Content/Images/Alzheimer's_disease_brain_comparison.jpg" alt="Alzheimer's_disease_brain_comparison" width="442" height="200" />
                    <p>The effect of Alzheimer's disease on the brain.</p>
                </div>
            </div>
            <br /><br />
            <div class="maindiv">
                <h3>Antibiotic Resistance</h3>
                <p>Along with its effect on human history, TB is also notorious for antibiotic resistance, being very difficult to treat and sometimes requiring a combination of drugs to treat, which can also have severe side effects on patients. MRSA is another well-known bacterium which frequently causes difficult-to-treat infections in hospitals due to its resistance to penicillin antibiotics, especially the commonly-used methicillin and the improved versions used later. Bacteria can mutate over time as a natural process, changing their features over generations and potentially gaining resistance to antibiotics which can accumulate over time and even transfer to other bacteria through plasmid DNA. These measures include bacterial membranes or cell walls which prevent uptake of the antibiotics, biofilms that trap antibiotics, efflux pumps that pump antibiotics back out of the bacterium, altered bacterial components that prevent antibiotics from attaching, and chemicals or enzymes that disable antibiotics. As antibiotics occur in nature as defensive features used by bacteria and fungi against other microorganisms, microbes have also evolved to be resistant to these. Misuse of antibiotics further worsens the antibiotic resistance issue, meaning healthcare providers have to be careful when administering antibiotics and patients careful when using them. Antibiotic resistance is more likely to develop when patients do not complete the prescribed full course of antibiotics or take antibiotics when they do not need it, like for a viral infection, potentially resulting in some bacteria with partial antibiotic resistance surviving and evolving increasing resistance until the antibiotic is ineffective against them. An issue with antibiotics becoming ineffective is that medical research companies have slowed the development of more effective antibiotics and discovery of new classes is expensive and not easy, meaning research into other areas like natural bactericidal compounds and bacteriophage therapy are also being investigated. Viruses are not alive and cannot be affected by antibiotics, though antivirals can inhibit their spread.</p><br />
            </div>
            <div class="greybanner flex-container">
                <div class="linkbox3">
                    <img src="~/Content/Images/Antibiotic_sensitivity_and_resistance.jpg" alt="Antibiotic_sensitivity_and_resistance" width="385" height="200" />
                    <p>Antibiotic resistance in bacteria. <br />Clear areas on plates indicate bacteria killed by antibiotics.</p>
                </div>
                <div class="linkbox3">
                    <img src="~/Content/Images/Antibiotic_resistance_mechanisms.jpg" alt="Antibiotic_resistance_mechanisms" width="283" height="200" />
                    <p>A diagram indicating how <br />antibiotic resistance works.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
