@{
    ViewBag.Title="Medicine";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="maindiv">
            <br />
            <h2><b>Medicine</b></h2>
            <p>Medical practice has been around since early human history, possibly dating back as far as Ancient Egyptian physicians' diagnosis and treatment of disease around 3000 BC. The Egyptian Imhotep (2600 BC) was one of the first to record 200 diseases and their treatments. The Ancient Greek physician Hippocrates (460 BC) is often regarded as the father of modern medicine for improving the understanding of disease, establishing the first school of medicine and developing the Hippocratic Oath.</p>
            <p>However, medical understanding of disease was limited by an incorrect concept of 'four humors', yellow bile, black bile, blood and phlegm, four elements which supposedly influenced human characteristics and caused disease if out of balance.</p>
            <p>The 19th century made many significant improvements in the field of medicine, particularly with the discovery of microorganisms that caused disease, anaesthetics for surgery and the first vaccines.</p>
            <p>The discovery of penicillin antibiotics by Alexander Fleming meant previously untreatable diseases like pneumonia, gonorrhea and rheumatic fever could now be treated.</p>
            <p>Medical knowledge continues to advance with new treatments for cancer, understanding of genetics and development of new life-saving pharmaceuticals. One relatively new devopment is monoclonal antibodies, a drug based on the immune system's antibody proteins which can be used to treat a wide range of diseases, from bacterial and viral infections to cancer and even autoimmune disorders.</p>
        </div>
        <br />
        <div class="maindiv">
            <h3>Painkillers</h3>
            <p>One of the early focuses of medicine was to treat the pain that often came with disease. Opium was first used in Europe in the 1500s to treat pain and was later also made into laudanum. The first modern pharmaceutical medicine, morphine, was invented in 1804 by Friedrich Sertürner, who extracted the main active chemical from opium. While morphine was effective against severe pain, opium-based treatments were addictive and thus not ideal. Paracetamol was first synthesised in 1893 and aspirin in 1897, providing effective and common non-narcotic treatments for mild to moderate pain and fever. Paracetamol is considered the safest common pain reliever as overdose is unlikely when taking normal doses and side effects are rare compared to other non-steroidal anti-inflammatory drugs (NSAIDs). Aspirin used to be commonly taken pain relief and is still used to prevent blood clots and heart attacks, but is otherwise not recommended for regular use due to its increasing patients' risk of bleeding and gastrointestinal upset.</p><br />
            <div class="greybanner flex-container">
                <div class="linkbox3">
                    <img src="~/Content/Images/Paracetamol 3D.png" alt="Paracetamol 3D" width="274" height="200" />
                    <p>The 3D structure of Paracetamol, <br />a common modern painkiller.</p>
                </div>
                <div class="linkbox3">
                    <img src="~/Content/Images/Paracetamol_generico.jpg" alt="Paracetamol Tablets" width="266" height="200" />
                    <p>Paracetamol tablets.</p>
                </div>
            </div>
            <br /><br />
            <h3>Antibiotics, Antivirals and Antiparasitics</h3>
            <p>One of the first modern drugs used to treat infections was quinine in 1820, which kills malaria parasites. Antiparasitic drugs are needed to treat a range of infections including worms, protozoans and external parasites. In 1928, the first antibiotic, penicillin, was accidentally discovered with mould growing on a Petri dish of bacteria, and was later used to treat a wide range of bacterial infections. This eventually led to the discovery of more classes of antibiotics by research companies, treating all kinds of infections. In 1963, the first antiviral, idoxuridine, was used to treat herpes virus infections of the eye. Antiviral drugs for a range of other viral infections like influenza and HIV were also developed, generally for the severe infections. Currently, new antivirals can treat a range of diseases, like remdesivir, a broad-spectrum antiviral which is effective against Covid-19.</p>
            <div class="greybanner flex-container">
                <div class="linkbox3">
                    <img src="~/Content/Images/Quinine_ad.jpg" alt="Quinine_ad" width="266" height="200" />
                    <p>An advertisement for quinine.</p>
                </div>
                <div class="linkbox3">
                    <img src="~/Content/Images/Penicillin Manufacture.jpg" alt="Penicillin" width="250" height="200" />
                    <p>Manufacture of penicillin.</p>
                </div>
            </div>
            <br /><br />
            <h3>Antihistamines</h3>
            <p>Allergy is a common condition when the body has an immune response to harmless substances like dust and pollen, or food allergens like peanuts, or insect bites. The immune response causes inflammation at the supposed infection sites to draw in immune cells, using histamine messenger molecules. Antihistamines can treat this by blocking histamine receptors, preventing or reducing the severity of histamine-mediated immune responses. The first synthetic antihistamine, piperoxan, was developed in the 1930s, and is an alpha-adrenergic antagonist that stop certain cell receptors from triggering an immune response. While first generation antihistamines cross the blood-brain barrier and cause drowsiness, the more modern second generation antihistamines only target specific body receptors and do not affect the brain or cause drowsiness. Different types of antihistamines have different effects and choosing the right one often depends on the individual and symptoms.</p>
            <br />
            <h3>Cough Medication</h3>
            <p>Cough medicine is a common medication that is used to relieve symptoms, though studies suggest cough medication may not actually reduce the severity or duration of coughing. Expectorants like guaifenesin allow mucus to move out of the throat, antitussives like pholcodine suppress the urge to cough, mucolytics like bromhexine thin mucus to make clearance easier, antihistamines and nasal decongestants can also be used in cough medicines. The main benefit of cough syrup is likely the syrup itself, which can reduce inflammation and irritation when covering the throat, rather than the active ingredients. Honey is also a natural alternative to cough syrup, with studies finding it works well against dry cough. Throat lozenges can relieve irritation of the throat but do reduce the duration or severity of cough.</p>
            <div class="greybanner flex-container">
                <div class="linkbox3">
                    <img src="~/Content/Images/CodesanComp.jpg" alt="Codesan" width="203" height="200" />
                    <p>Codesan, one type of cough syrup in use.</p>
                </div>
            </div>
            <br /><br />
            <h3>Hypertension Medication</h3>
            <p>Hypertension medication controls high blood pressure by decreasing the pressure. This can be done by causing the body to remove excess water and salt from the blood to decrease the volume, relaxing rigid blood vessels, reducing the force of heartbeats or blocking nerve activity causing blood vessel rigidity.</p>
            <br />
            <h3>Chemotherapy</h3>
            <p>The first methods of treating cancer involved surgery and radiotherapy, which were only temporarily effective as traces of cancer cells were frequently left behind to form new tumours. This started to change in the 1940s, when nitrogen mustard was found to cause tumour regression, though also temporary, then later folate antagonists like methotrexate were used to suppress leukaemia cell growth. Some antibiotics like actinomycin D were also found to have antitumour ability, while other drugs like fluoropyrimidine 5-fluorouracil (5-FU) specifically targeted abnormal cancer cells more than normal body cells, resulting in targeted therapies with less adverse side effects. A major breakthrough came in the 1960s when a combination of different chemotherapy drugs were used to cause a complete remission of cancer, instead of a temporary remission with just one drug. This was later extended to combine drugs with surgery and radiotherapy to maximise cancer cell death in treatments. While chemotherapy has continued to progress, major disadvantages of chemotherapy still include drug toxicity affecting normal cells, a suppressed immune system causing more frequent infections and reduced cell growth causing problems like bleeding. Modern cancer research has started to look at the immune system rather than chemicals, finding ways to help immune cells kill cancer more effectively and directly.</p>
            <br />
            <h3>Exercise</h3>
            <p>Regular exercise has been found to naturally prevent diseases including cancer, for a range of reasons including improving the immune system, reducing the number of hormones involved in cancer development, reducing inflammation and insulin levels, and preventing obesity, a risk factor for a range of diseases.</p>
        </div>
        <br />

    </div>
</body>
</html>
