@{
    ViewBag.Title="Medicine";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="imageleft">
            <img src="~/Content/Images/stethoscope_vectorstock.png" alt="header image" width="200" height="200" />
            <a href="https://www.vectorstock.com/royalty-free-vector/stethoscope-with-siren-light-icon-vector-9963933" class="linkbox2">Vector image by VectorStock / kraphix</a>
        </div>
        <div>
            <h3>Medicine</h3>
            <p>Medical practice has been around since early human history, possibly dating back as far as Ancient Egyptian physicians' diagnosis and treatment of disease around 3000 BC. The Egyptian Imhotep (2600 BC) was one of the first to record 200 diseases and their treatments. The Ancient Greek physician Hippocrates (460 BC) is often regarded as the father of modern medicine for improving the understanding of disease, establishing the first school of medicine and developing the Hippocratic Oath.</p>
            <p>However, medical understanding of disease was limited by an incorrect concept of 'four humors', yellow bile, black bile, blood and phlegm, four elements which supposedly influenced human characteristics and caused disease if out of balance.</p>
            <p>The 19th century made many significant improvements in the field of medicine, particularly with the discovery of microorganisms that caused disease, anaesthetics for surgery and the first vaccines.</p>
            <p>The discovery of penicillin antibiotics by Alexander Fleming meant previously untreatable diseases like pneumonia, gonorrhea and rheumatic fever could now be treated.</p>
            <p>Medical knowledge continues to advance with new treatments for cancer, understanding of genetics and development of new life-saving pharmaceuticals. One relatively new devopment is monoclonal antibodies, a drug based on the immune system's antibody proteins which can be used to treat a wide range of diseases, from bacterial and viral infections to cancer and even autoimmune disorders.</p>
        </div>
        
    </div>
</body>
</html>
