
@{
    ViewBag.Title = "References";
}

<div>
    <h2>References</h2>
    <a href="https://www.vectorstock.com/royalty-free-vector/5-prescription-icons-vector-36974802" target="_blank">Vector image by VectorStock / vectorstock</a>
    <a href="https://www.vectorstock.com/royalty-free-vector/microscope-icon-flat-icon-with-long-shadow-vector-20927831" target="_blank">Vector image by VectorStock / vectorstock</a><br />
    <a href="https://www.vectorstock.com/royalty-free-vector/stethoscope-with-siren-light-icon-vector-9963933">Vector image by VectorStock / kraphix</a><br />
    <a href="https://www.vectorstock.com/royalty-free-vector/realistic-pill-vector-1955971">Vector image by VectorStock / dunkan</a><br />
    <a href="https://www.vectorstock.com/royalty-free-vector/realistic-3d-glass-ampoules-with-medicine-vaccine-vector-30414000">Vector image by VectorStock / Katrinaku</a><br />
</div>


