
@{
    ViewBag.Title = "References";
}

<div class="maindiv">
    <h2>References</h2>
    <p>
        E.Coli: NIAID, Hans N.<br />
        TB: NIAID, CDC/Janice Carr<br />
        Plague of Athens: Iconographic Collections, Michael Sweerts, J. Fittler;<br />
        Galen: Unknown Author<br />
        Plague Doctor: Paul Furst<br />
        Spanish Flu: Otis Historical Archives, Chicago Newspapers<br />
        Black Death: Pierart dou Tielt, Munro Scott Orr<br />
        Smallpox: Dr William Foege, World Health Organization<br />
        Mad Cow Disease: Aphis USDA<br />
        Microscope: Les Chatfield<br />
        Virus: Anonymous, Wikimedia; 148LENIN, Cynthia Goldsmith<br />
        Cancer: Anonymous, Ed Uthman<br />
        Diabetes: Manu5<br />
        Autoimmunity: National Institute of Environmental Health Sciences, Laboratoires Servier<br />
        Dementia: National Institute on Aging<br />
        MRSA: NIAID<br />
        SARS: CDC/C.S. Goldsmith, CDC/Alissa Eckert, MS and Dan Higgins, MAM<br />
        Epidemiology: Mario Rizzetto, University of Torino<br />
        Chemotherapy: National Cancer Institute (Bill Branson)<br />
        Radiotherapy: NCI<br />
        CAR T-cell: NCI<br />
        Antibiotic Resistance: Dr Graham Beards, Gerard D Wright<br />
        Laboratory: Services Institute of Medical Sciences<br />
    </p>
</div>


