@{
    ViewBag.Title = "Vaccines";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="maindiv">
        <div>
            <br /><br />
            <h2><b>Vaccines</b></h2>
            <br />
            <p>Modern vaccinology started around 1796 when Edward Jenner inoculated a boy, James Phipps, with the cowpox virus, after noting people who recovered had immunity to the related and more deadly smallpox.</p>
            <p>Louis Pasteur was one of the first to develop live attenuated cholera vaccines after using viruses weakened by time outside a host to inoculate chickens, causing immunity instead of a full infection. This was later extended to making an effective anthrax vaccine that could protect livestock like sheep and cows. In 1885, Pasteur developed an attenuated rabies vaccine that saved the life of a rabies bite victim, Joseph Meister.</p>
            <p>Vaccines generally work by introducing inactivated or dead viruses or bacteria or some of their components into the body to cause an immune response. This teaches the body to recognise the introduced pathogen and create a faster, more effective, directed response towards the pathogen next time an infection occurs.</p>
            <p>Many common and serious diseases like polio and smallpox have been eradicated in the past with vaccines, while common diseases like measles and tuberculosis (TB) can also be prevented in the modern day.</p>
            <p>Vaccines can be live attenuated, inactivated, subunit, toxoid, Messenger RNA or other types.</p>
        </div>
    </div>
    <br />
    <div class="maindiv">
        <h3>Live Attenuated Vaccines</h3>
        <p>Live attenuated vaccines use alive but weakened bacteria or viruses, which can still function and generate an immune response without causing the disease. This still requires the person to have a functional immune system, otherwise it can cause an infection when the weakened germs multiply. This type of vaccine is common and includes the chickenpox, mumps, measles, rubella and BCG vaccines.</p>
        <br />
    </div>
    <div class="greybanner flex-container">
        <div class="linkbox3 imagecaption">
            <img src="~/Content/Images/ZOSTAVAX_(shingles_(herpes_zoster)_vaccine_(live)).jpg" alt="Zostavax" width="240" height="200" />
            <p>The Zostavax vaccine, a live vaccine <br />used to prevent shingles (herpes zoster).</p>
        </div>
        <div class="linkbox3 imagecaption">
            <img src="~/Content/Images/Smallpox_vaccine.jpg" alt="Smallpox vaccine" width="240" height="200" />
            <p>A smallpox vaccine, which uses live vaccinia virus, <br />a virus similar to smallpox but less severe.</p>
        </div>
    </div>

    <br />
    <div class="maindiv">
        <h3>Inactivated or Dead Vaccines</h3>
        <p>These vaccines do not contain live bacteria or viruses, only dead bacteria, inactivated viruses or fragments of bacteria or viruses which are not functional on their own. As they are not active, the body will not have as strong an immune response to them, so adjuvants are added to the vaccine to trigger a response to the vaccine components. Inactivated vaccines also tend to need boosters to increase the level of protection to the required level, as each vaccination gives partial protection that increases with the next.</p>
    </div>
    <br />
    <div class="maindiv">
        <h3>mRNA Vaccines</h3>
        <p>A new type of vaccine, mRNA vaccines simulate a temporary viral infection without containing any actual viruses or modifying DNA. Cells use DNA for normal function, growth, and division, passing on DNA to the next generation, but they use mRNA to transport messages from DNA to ribosomes, the protein synthesis parts of the cell. mRNA molecules are temporary and do not last long after they are used. mRNA vaccines insert these messenger molecules into some cells, causing them to produce viral proteins which are then detected by the immune system, which learns to recognise the proteins on the actual virus the next time viruses are encountered.</p>
    </div>
    <br /><br /><br />
</body>
</html>
